n8n-workflows/manual-provider-models-snapshot.json
[
  {
    "id": "MnualPr0viderM0delSnap2026",
    "name": "Manual Provider Models Snapshot",
    "description": "Declenchement manuel pour recuperer les derniers modeles visibles par provider depuis OpenRouter et ecrire une capture par provider dans /vault/raw/passive/model/.",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "id": "11111111-aaaa-4111-8111-111111111111",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          80
        ]
      },
      {
        "parameters": {
          "url": "https://openrouter.ai/api/v1/models",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "manual-provider-models-snapshot/1.0"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        },
        "id": "or-http",
        "name": "HTTP OpenRouter Models",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          280,
          80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const providerConfigs = {\n  openai: {\n    label: 'OpenAI',\n    source_name: 'OpenRouter Models API - OpenAI',\n    source_url: 'https://openrouter.ai/api/v1/models',\n    match: (model) => String(model.id || '').startsWith('openai/'),\n  },\n  anthropic: {\n    label: 'Anthropic',\n    source_name: 'OpenRouter Models API - Anthropic',\n    source_url: 'https://openrouter.ai/api/v1/models',\n    match: (model) => String(model.id || '').startsWith('anthropic/'),\n  },\n  google: {\n    label: 'Google Gemini',\n    source_name: 'OpenRouter Models API - Google Gemini',\n    source_url: 'https://openrouter.ai/api/v1/models',\n    match: (model) => String(model.id || '').startsWith('google/') && /gemini/i.test(String(model.id || '') + ' ' + String(model.name || '')),\n  },\n};\n\nfunction normalize(text) {\n  return String(text || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction slugify(value) {\n  return String(value || '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 100);\n}\n\nfunction yamlString(value) {\n  const safe = String(value || '').replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n  return '\"' + safe + '\"';\n}\n\nfunction createdDate(model) {\n  const created = Number(model.created || 0);\n  if (!created) return 'date inconnue';\n  return new Date(created * 1000).toISOString().slice(0, 10);\n}\n\nconst input = $input.first().json;\nconst models = Array.isArray(input.data) ? input.data : [];\nconst now = new Date().toISOString();\nconst datePart = now.slice(0, 10);\nconst timePart = now.slice(11, 19).replace(/:/g, '');\nconst outputs = [];\n\nfor (const [provider, config] of Object.entries(providerConfigs)) {\n  const selected = models.filter(config.match).sort((a, b) => Number(b.created || 0) - Number(a.created || 0)).slice(0, 8);\n  const title = 'Latest ' + config.label + ' models snapshot';\n  const fileName = datePart + '-' + timePart + '-' + provider + '-latest-models-openrouter-snapshot.md';\n  const outputPath = '/vault/raw/passive/model/' + fileName;\n  const modelLines = selected.length\n    ? selected.map((model) => '- ' + normalize(model.name || model.id) + ' (' + model.id + ', added ' + createdDate(model) + ')')\n    : ['- Aucun modele detecte automatiquement.'];\n  const excerpt = selected.map((model) => normalize((model.name || model.id) + ' - ' + (model.description || '')).slice(0, 220)).join('\\n');\n  const markdown = [\n    '---',\n    'kind: passive-capture',\n    'source_name: ' + yamlString(config.source_name),\n    'source_type: secondaire',\n    'category: model-snapshot',\n    'provider: ' + provider,\n    'signal_type: model-snapshot',\n    'tags: [ia, ' + provider + ', model-snapshot, openrouter]',\n    'title: ' + yamlString(title),\n    'url: ' + yamlString(config.source_url),\n    'published_at: ' + yamlString(now),\n    'collected_at: ' + yamlString(now),\n    'confidence: medium',\n    'major_update: true',\n    'workflow: manual-provider-models-snapshot',\n    'status: a-traiter',\n    '---',\n    '',\n    '# ' + title,\n    '',\n    '## Metadonnees',\n    '- Provider : ' + provider,\n    '- Source : ' + config.source_name,\n    '- Type : secondaire',\n    '- Categorie : model-snapshot',\n    '- URL : ' + config.source_url,\n    '- Collecte le : ' + now,\n    '',\n    '## Modeles detectes',\n    ...modelLines,\n    '',\n    '## Extrait brut',\n    excerpt || 'Aucun extrait disponible.',\n    '',\n    '## Resume IA preliminaire',\n    '- Snapshot manuel des derniers modeles visibles sur OpenRouter pour ' + config.label + '.',\n    '- Cette capture sert a peupler raw/passive/model/ pour la veille provider.',\n    '- OpenRouter est utilise comme agregateur secondaire : verifier les modeles importants contre les docs officielles avant synthese.',\n    '',\n    '## Points a verifier',\n    '- Verifier dans la documentation officielle du provider si ces modeles sont bien les plus recents ou les plus pertinents.',\n    '- Decider si une note provider doit etre creee ou mise a jour.',\n    '',\n    '## Action possible',\n    '- [ ] Decider si cette entree merite une mise a jour dans wiki/notes/' + provider + '.md ou wiki/notes/modeles-ia.md',\n    ''\n  ].join('\\n');\n  outputs.push({ json: { provider, source_name: config.source_name, title, outputPath, markdown } });\n}\nreturn outputs;"
        },
        "id": "parse-models",
        "name": "Parse Provider Models From OpenRouter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          80
        ]
      },
      {
        "parameters": {
          "operation": "toText",
          "binaryPropertyName": "data",
          "sourceProperty": "markdown",
          "options": {
            "fileName": "={{$json.outputPath}}",
            "mimeType": "text/markdown",
            "encoding": "utf8"
          }
        },
        "id": "33333333-cccc-4333-8333-333333333333",
        "name": "Convert Markdown To File",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          840,
          20
        ]
      },
      {
        "parameters": {
          "fileName": "={{$json.outputPath}}",
          "dataPropertyName": "data",
          "options": {}
        },
        "id": "44444444-dddd-4444-8444-444444444444",
        "name": "Write Model Snapshot Capture",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          1220,
          80
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "restore-output-path-model-snapshot",
        "name": "Restore Output Path",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          980,
          80
        ]
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "HTTP OpenRouter Models",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP OpenRouter Models": {
        "main": [
          [
            {
              "node": "Parse Provider Models From OpenRouter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Provider Models From OpenRouter": {
        "main": [
          [
            {
              "node": "Convert Markdown To File",
              "type": "main",
              "index": 0
            },
            {
              "node": "Restore Output Path",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Convert Markdown To File": {
        "main": [
          [
            {
              "node": "Restore Output Path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore Output Path": {
        "main": [
          [
            {
              "node": "Write Model Snapshot Capture",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "manual-model-snapshot-v3-openrouter",
    "triggerCount": 0,
    "tags": []
  }
]
