n8n-workflows/passive-model-releases.json
[
  {
    "id": "M0d3lR3l3as3s2026",
    "name": "Passive Model Releases",
    "description": "Collecte uniquement les annonces de modeles par provider et ecrit des captures Markdown model-release dans /vault/raw/passive/model/.",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 24
              }
            ]
          }
        },
        "id": "11111111-1111-4111-8111-111111111111",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {},
        "id": "22222222-2222-4222-8222-222222222222",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          180
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const maxAgeMs = 30 * 24 * 60 * 60 * 1000;\nconst now = Date.now();\n\nconst sources = [\n  { provider: 'openai', source_name: 'OpenAI News', url: 'https://openai.com/news/rss.xml', type: 'rss' },\n  { provider: 'anthropic', source_name: 'Anthropic Release Notes', url: 'https://platform.claude.com/docs/en/release-notes/overview', type: 'anthropic-release-notes' },\n  { provider: 'google', source_name: 'Google AI Blog', url: 'https://blog.google/innovation-and-ai/technology/ai/rss/', type: 'rss' },\n];\n\nfunction stripTags(value) {\n  return String(value || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction firstMatch(text, patterns) {\n  for (const pattern of patterns) {\n    const match = String(text || '').match(pattern);\n    if (match) return stripTags(match[1] || match[0]);\n  }\n  return '';\n}\n\nfunction slugify(value) {\n  return String(value || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .slice(0, 90) || 'model-release';\n}\n\nfunction yamlString(value) {\n  const safe = String(value || '').replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n  return '\"' + safe + '\"';\n}\n\nfunction parseRss(xml, source) {\n  const itemMatches = Array.from(String(xml || '').matchAll(/<item[\\s\\S]*?<\\/item>/gi));\n  return itemMatches.map((match) => {\n    const item = match[0];\n    const title = firstMatch(item, [/<title><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/title>/i, /<title>([\\s\\S]*?)<\\/title>/i]);\n    const link = firstMatch(item, [/<link>([\\s\\S]*?)<\\/link>/i]);\n    const pubDate = firstMatch(item, [/<pubDate>([\\s\\S]*?)<\\/pubDate>/i, /<dc:date>([\\s\\S]*?)<\\/dc:date>/i]);\n    const excerpt = firstMatch(item, [/<description><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>/i, /<description>([\\s\\S]*?)<\\/description>/i, /<content:encoded><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/content:encoded>/i]);\n    return { provider: source.provider, source_name: source.source_name, source_type: 'primaire', category: 'model-release', signal_type: 'model-release', title, url: link || source.url, published_at: pubDate ? new Date(pubDate).toISOString() : new Date().toISOString(), raw_excerpt: excerpt, source_url: source.url };\n  });\n}\n\nfunction parseAnthropicReleaseNotes(html, source) {\n  const text = stripTags(html);\n  const datePattern = /(\\d{1,2}\\s+(?:January|February|March|April|May|June|July|August|September|October|November|December)\\s+\\d{4})/gi;\n  const dates = Array.from(text.matchAll(datePattern)).map((m) => ({ date: m[1], index: m.index || 0 }));\n  const entries = [];\n  for (let i = 0; i < dates.length; i++) {\n    const current = dates[i];\n    const next = dates[i + 1];\n    const chunk = text.slice(current.index, next ? next.index : current.index + 1400);\n    const modelMatch = chunk.match(/\\bClaude\\s+(?:Opus|Sonnet|Haiku)\\s+\\d(?:\\.\\d)?\\b/i);\n    if (!modelMatch) continue;\n    const model = modelMatch[0];\n    entries.push({ provider: source.provider, source_name: source.source_name, source_type: 'primaire', category: 'model-release', signal_type: 'model-release', title: model + ' release notes', url: source.url, published_at: new Date(current.date).toISOString(), raw_excerpt: chunk.slice(0, 1200), source_url: source.url });\n  }\n  return entries;\n}\n\nfunction isRelevantModelSignal(item) {\n  const body = item.title + ' ' + item.raw_excerpt;\n  const modelPatterns = { openai: /\\b(GPT[- ]?\\d(?:\\.\\d)?|gpt[- ]?\\d(?:\\.\\d)?|o\\d(?:[- ]?pro)?|model|models)\\b/i, anthropic: /\\b(Claude|Opus|Sonnet|Haiku|model|models)\\b/i, google: /\\b(Gemini\\s*\\d(?:\\.\\d)?|Gemini|Flash|Pro|Ultra|TTS|model|models)\\b/i };\n  const exclude = /\\b(Codex|CLI|SDK|Agents SDK|Cloudflare|operations teams|academy|customer story|partnership|workflows in|trusted access for cyber)\\b/i;\n  if (!modelPatterns[item.provider] || !modelPatterns[item.provider].test(body)) return false;\n  if (item.provider !== 'google' && exclude.test(body)) return false;\n  if (item.provider === 'google' && /\\b(Google Vids|satellite imagery|forests)\\b/i.test(body)) return false;\n  return true;\n}\n\nfunction inferModelFamily(item) {\n  const body = item.title + ' ' + item.raw_excerpt;\n  const match = body.match(/\\b(GPT[- ]?\\d(?:\\.\\d)?(?:[- ]?[A-Za-z]+)?|Claude\\s+(?:Opus|Sonnet|Haiku)\\s+\\d(?:\\.\\d)?|Gemini\\s*\\d(?:\\.\\d)?\\s*(?:Flash|Pro|Ultra|TTS)?|Gemini\\s*(?:Flash|Pro|Ultra|TTS)|o\\d(?:[- ]?pro)?)\\b/i);\n  return match ? match[0].replace(/\\s+/g, ' ').trim() : item.provider;\n}\n\nfunction buildMarkdown(item) {\n  const collectedAt = new Date().toISOString();\n  const publishedDate = String(item.published_at || collectedAt).slice(0, 10);\n  const modelFamily = inferModelFamily(item);\n  const provider = item.provider;\n  const title = stripTags(item.title).slice(0, 240);\n  const excerpt = stripTags(item.raw_excerpt || '').slice(0, 1400) || 'Aucun extrait disponible.';\n  const fileName = publishedDate + '-' + slugify(provider + '-model-release') + '-' + slugify(title) + '.md';\n  const outputPath = '/vault/raw/passive/model/' + fileName;\n  const tags = ['ia', provider, 'model-release'];\n  const markdown = [\n    '---', 'kind: passive-capture', 'source_name: ' + yamlString(item.source_name), 'source_type: primaire', 'category: model-release', 'provider: ' + provider, 'model_family: ' + yamlString(modelFamily), 'signal_type: model-release', 'tags: [' + tags.join(', ') + ']', 'title: ' + yamlString(title), 'url: ' + yamlString(item.url), 'published_at: ' + yamlString(item.published_at), 'collected_at: ' + yamlString(collectedAt), 'confidence: high', 'major_update: true', 'workflow: passive-model-releases', 'status: a-traiter', '---', '', '# ' + title, '', '## Metadonnees', '- Provider : ' + provider, '- Source : ' + item.source_name, '- Type : primaire', '- Categorie : model-release', '- Famille modele : ' + modelFamily, '- URL : ' + item.url, '- Publie le : ' + item.published_at, '- Collecte le : ' + collectedAt, '', '## Extrait brut', excerpt, '', '## Resume IA preliminaire', '- Signal de modele detecte pour ' + provider + '.', '- Famille ou modele probable : ' + modelFamily + '.', '- A verifier avant incorporation dans une note provider ou modeles-ia.', '', '## Points a verifier', '- Confirmer que l annonce concerne bien un modele ou une famille de modeles, et pas seulement un produit.', '- Verifier les capacites, disponibilites, tarifs ou deprecations mentionnes par la source officielle.', '- Decider si la note provider doit etre mise a jour.', '', '## Action possible', '- [ ] Decider si cette entree merite une mise a jour dans wiki/notes/openai.md, wiki/notes/anthropic.md, wiki/notes/gemini.md ou wiki/notes/modeles-ia.md', ''\n  ].join('\\n');\n  return Object.assign({}, item, { model_family: modelFamily, fileName, outputPath, markdown });\n}\n\nasync function fetchText(url) {\n  const response = await fetch(url, { headers: { 'User-Agent': 'veille-obsidian-model-releases/1.0', 'Accept': 'text/html,application/rss+xml,application/xml,text/xml,*/*' } });\n  if (!response.ok) throw new Error('Fetch failed ' + response.status + ' for ' + url);\n  return response.text();\n}\n\nconst fetched = [];\nfor (const source of sources) {\n  try {\n    const content = await fetchText(source.url);\n    if (source.type === 'rss') fetched.push(...parseRss(content, source));\n    if (source.type === 'anthropic-release-notes') fetched.push(...parseAnthropicReleaseNotes(content, source));\n  } catch (error) {}\n}\n\nconst candidates = fetched.filter((item) => item.title && item.url).filter((item) => { const published = Date.parse(item.published_at || ''); return Number.isNaN(published) || now - published <= maxAgeMs; }).filter(isRelevantModelSignal).sort((a, b) => Date.parse(b.published_at || 0) - Date.parse(a.published_at || 0));\nconst byProvider = new Map();\nfor (const item of candidates) if (!byProvider.has(item.provider)) byProvider.set(item.provider, item);\nreturn Array.from(byProvider.values()).map((item) => ({ json: buildMarkdown(item) }));"
        },
        "id": "33333333-3333-4333-8333-333333333333",
        "name": "Fetch And Filter Model Releases",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          300,
          80
        ]
      },
      {
        "parameters": {
          "operation": "toText",
          "binaryPropertyName": "data",
          "sourceProperty": "markdown",
          "options": {
            "fileName": "={{$json.outputPath}}",
            "mimeType": "text/markdown",
            "encoding": "utf8"
          }
        },
        "id": "44444444-4444-4444-8444-444444444444",
        "name": "Convert Markdown To File",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          620,
          80
        ]
      },
      {
        "parameters": {
          "fileName": "={{$json.outputPath}}",
          "dataPropertyName": "data",
          "options": {}
        },
        "id": "55555555-5555-4555-8555-555555555555",
        "name": "Write Model Release Capture",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          900,
          80
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Fetch And Filter Model Releases",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Fetch And Filter Model Releases",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch And Filter Model Releases": {
        "main": [
          [
            {
              "node": "Convert Markdown To File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Markdown To File": {
        "main": [
          [
            {
              "node": "Write Model Release Capture",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "model-releases-v1",
    "triggerCount": 0,
    "tags": []
  }
]
